<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <p>from: <%- from %></p>
    <p>username: <%- username %></p>

    <% if (username) { %>
        <form action="/updateText" method="post">
            <p>发表评论</p>
            <input type="text" name="text">
            <input type="button" value="点赞" onclick="awesome()">
            <input type="submit" value="提交">
        </form>
    <% } else { %>
        <a href="./login">去登陆</a>
    <% } %>
</body>
<script>

    function awesome() {
        document.querySelector('input[name="text"]').value = '点赞';
        document.querySelector('form').submit();
    }
</script>
</html>